<h5>My First video</h5>
<%= video_tag ["Mazhaiye_Mazhaiye_Eeram_Tamil.mp4", type: "video/mp4"],["Mazhaiye_Mazhaiye_Eeram_Tamil.webm", type: "video/webm"], :size => "320x240", :controls => true %>

<%#= content_tag(:source, "Hello world!", type: "text/html") %>
<%#= content_tag(:source,'',src: "Mazhaiye_Mazhaiye_Eeram_Tamil.mp4", type: "video/mp4") %>
<%#=  %>

<!--<source src="" type=""></source>-->